* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
/* }
shared style  */
.font-playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}
.logo h2 {
    font-size: 45px;

}
.color-orange {
    color: blue;
    
}
.btn {
    background-color: rgb(237, 73, 73);
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.section-heading{
    max-width: 827px;
    text-align: center;
}
.section-heading h2{
    font-size: 35px;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
    color: #757575;
}

/* main style */
header {
    background-color: rgb(174, 113, 113);
    background: url(../images/developer.png), url(../images/header_bg.png);
    background-position: top left, bottom right;
    background-repeat: no-repeat;
    padding-top: 50px;
}

nav {
    width: 72%;
    max-width: 1140px;
    /* border: 3px solid green; */
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

nav .menu {
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

nav .menu a {
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}

#banner{
    /* border: 1px solid red; */
    margin: 47px 37px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h3 {
    font-size: 40px;
    font-weight: 200px;
    color: #474747;
    margin-bottom: 5px;


}

#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align: middle;
}
#about{
    padding-top: 130px;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;

}

#about .about-container .about-info{
    display: flex;
    justify-content: space-around;
}
.about-info .info-card p {
    font-size: 20px;
    line-height: 30px;
    color: #757575;

}
.about-info .info-card h4{
    font-size: 20px;
}

    
    
   
